.game-container {
  max-width: 500px;
}

.game-area {
  position: relative;
  width: 100%;
  /* aspect-ratio: 9/16; */
  height: 600px;
  background: #bdc3c7;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  /* background generated in canvas */
}

.game-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.stats-card {
  background: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
